.profile-img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.custom-modal {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  width: "100%";
  margin-bottom: "20px";
}

/* body {
  background-color: black;
} */

@media (max-width: 700px) {
  .MuiGrid-root {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }

  .home-about {
    height: auto !important;
    /* padding: 0 !important; */
    padding-right: 0 !important;
  }
}

@media (max-width: 900px) {
  .contact-about {
    height: auto !important;
  }

  .about-text {
    font-size: 1.3rem !important;
  }
}
